# Google Gemini API Key
GOOGLE_API_KEY=api_key
# Provider LLM: "google" (cloud) oppure "ollama" (locale)
LLM_PROVIDER=google
# Modello LLM: gemini-flash-latest (per Google), llama3:8b (per Ollama locale),  qwen2.5:14b
LLM_MODEL= gemini-flash-latest
# Indirizzo base per Ollama locale (usato solo se LLM_PROVIDER=ollama)
OLLAMA_BASE_URL=http://localhost:11434

# LangSmith Tracing (Osservabilità & Monitoring)
LANGCHAIN_TRACING_V2=false
LANGCHAIN_ENDPOINT=https://eu.api.smith.langchain.com
LANGCHAIN_API_KEY=api_key
LANGCHAIN_PROJECT=ai-travel-assistant